@keyframes first-strip {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -864px 0;
    }
}


@keyframes second-strip {
    0% {
        background-position: 0 144px;
    }

    100% {
        background-position: -864px 144px;
    }
}

@keyframes third-strip {
    0% {
        background-position: 0 72px;
    }

    100% {
        background-position: -864px 72px;
    }
}

@keyframes fifth-strip {
    0% {
        background-position: 0 216px; 
    }
    100%{
        background-position:-864px 216px; 
    }
}
@keyframes fourth-strip {
    0% {
        background-position: 0 288px; 
    }
    100%{
        background-position:-864px 288px; 
    }
}


div {
    animation: first-strip 2s steps(12) 0s none,
        second-strip 2s steps(12) 2s none,
        third-strip 2s steps(12) 4s none,
        fourth-strip 2s steps(12) 6s none, 
        fifth-strip 2s steps(12) 8s none; 
    width: 72px;
    height: 72px;
    background-image: url('../img/sprite.png');
    border: 1px solid black
}
