html{
  background-color:#edede8;
  padding-left: 300px
}
@keyframes first-strip {
      0% {
         background-position: 0 0;
       }
       100% {
          background-position: -3600px 600px;
         }
       }
       div{
           animation: first-strip 1s steps(6);
           width: 600px;
           height: 600px;
           background-image: url('../img/banana-peel.png');
           animation-timing-function: linear;
          }
@keyframes second-strip {
   0% {
     background-position: 0 0;
   }
   100% {
      background-position: -3600px -1200px;
    }
  }
     div{
      animation: "second-strip" 1s steps(6);
      width: 600px;
      height: 600px;
      background-image: url('../img/banana-peel.png');
    }

    @keyframes third-strip {
       0% {
         background-position: 0 0;
       }
       100% {
         background-position: -3600px -1800px;
       }
     }
     div{
       animation: third-strip  steps(6);
       width: 600px;
       height: 600px;
       background-image: url('../img/banana-peel.png');
     }

     @keyframes fourth-strip {
       0% {
         background-position: 0 0;
       }
       100% {
         background-position: -3600px -2400px;
       }
     }
     div{
       animation: fourth-strip 1s steps(6);
       width: 600px;
       height: 600px;
       background-image: url('../img/banana-peel.png');
     }
     @keyframes fifth-strip {
       0% {
         background-position: 0 0;
       }
       100% {
         background-position: -3600px -3000px;
       }
     }

      div{
        animation: fifth-strip 1s steps(6);
        width: 600px;
        height: 600px;
        background-image: url('../img/banana-peel.png');
      }
 @keyframes sixth-strip {
   0% {
     background-position: 0 0;
   }
   100% {
     background-position: -3600px -3600px;
   }
 }
     div{
       animation: sixth-strip 1s steps(6);
       width: 600px;
       height: 600px;
       background-image: url('../img/banana-peel.png');
        }
 @keyframes seventh-strip {
           0% {
             background-position: 0 0;
           }
           100% {
             background-position: -3600px -4200px;
           }
         }
      div{
        animation: seventh-strip 1s steps(6);
        width: 600px;
        height: 600px;
        background-image: url('../img/banana-peel.png');
        }
@keyframes eighth-strip {
          0% {
          background-position: 0 0;
        }
          100% {
          background-position: -3600px -4800px;
        }
  }
         div{
        animation: eighth-strip 1s steps(6);
        width: 600px;
        height: 600px;
        background-image: url('../img/banana-peel.png');
        }
